<!-- Éditeur d'exercice -->
<% IO.inspect(@exo, label: "\nEXO dans le formulaire") %>

<form action={~p"/exo/save"} method="POST">

  <input type="hidden" name="exo[path]" value={@exo["path"]} />

  <textarea name="exo[contenu]" id="exo_contenu" style="width:100%;height:800px;padding:1em;">
    <%= @exo["contenu"] %>
  </textarea>

  <div class="right">
    <button type="submit">Enregistrer le fichier</button>
  </div>
</form>