<h1>Création d'exercice</h1>
<p>L'exercice préformaté a été créé avec succès dans <%= @exo["path"] %>.</p>
<p>Tu peux ouvrir ce fichier dans Typora, le passer en mode code et commencer à le remplir.</p>
<div class="p">Tu peux aussi l’<form class="inline" action={~p"/exo/edit"} method="POST"><input type="submit" value="éditer dans cette application" />
    <input type="hidden" name="p" value={assigns.exo["path"]}/>
  </form>
</div>
<p>Tu peux trouver les </p>