
<h2>Produire un exercice</h2>

<form action={~p"/exo/build"} method="POST">
  <div>
    <label for="exo_file_path" class="block">Chemin d'accès au fichier</label>
    <input id="exo_file_path" name="exo[file_path]" type="text" style="width:50%;" />
    <button type="submit">Constuire l'exercice</button>
  </div>
</form>

<h2>Préparer un exercice</h2>
<div>
  <a class="btn" href={~p"/exo/preformated"}>Préformater un exercice</a>
</div>