
.admin {
  display: block!important;
  background-color: #EEFFEE;
  color: green;
  margin-left: 14em;
  font-family:AvenirNC;
}
.admin:before {
  content: "[Formateur] ";
  font-style: italic;
}


section.qcm div.reponse:not([data-points="0"]):after {
  content: "✅";
  display:inline-block;
  margin-left: 0.5em;
  padding: 2px 10px;
}
section.qcm div.reponse[data-points="1"]:after {
  background-color: #EEFFEE;
}
section.qcm div.reponse[data-points="2"]:after {
  background-color: #AAFFAA;
}
section.qcm div.reponse[data-points="3"]:after {
  background-color: #77FF77;
}
section.qcm div.reponse[data-points="4"]:after {
  background-color: #33FF33;
}
section.qcm div.reponse[data-points="5"]:after {
  background-color: green;
}
section.qcm div.reponse[data-points="6"]:after {
  background-color: green;
}
section.qcm div.reponse[data-points="7"]:after {
  background-color: green;
}
section.qcm div.reponse[data-points="8"]:after {
  background-color: green;
}
section.qcm div.reponse[data-points="9"]:after {
  background-color: green;
}
