
.admin {
  display: block!important;
  background-color: ##ebfdff;
  padding:0.8em 1.5em;
  color: green;
  margin-left: 14em;
  font-family:AvenirNC;
}
.admin:before {
  content: "[Formateur] ";
}

/* 
  RAPPELS :

    - Une réponse à 0 point est fausse
    - Une réponse à 1 point n'est pas comptée juste, mais rapporte
      quand même 1 point (c'est typiquement la réponse "Je ne sais 
      pas"
    - Une réponse à plus de 1 point est considérée comme bonne.

*/
section.qcm span.reponse:not([data-points="0"]):not([data-points="1"]):after {
  content: "✅";
  display:inline-block;
  margin-left: 0.5em;
  padding: 2px 10px;
}
section.qcm span.reponse[data-points="2"]:after {
  background-color: #EEFFEE;
}
section.qcm span.reponse[data-points="3"]:after {
  background-color: #AAFFAA;
}
section.qcm span.reponse[data-points="4"]:after {
  background-color: #77FF77;
}
section.qcm span.reponse[data-points="5"]:after {
  background-color: #33FF33;
}
section.qcm span.reponse[data-points="6"]:after {
  background-color: green;
}
section.qcm span.reponse[data-points="7"]:after {
  background-color: green;
}
section.qcm span.reponse[data-points="8"]:after {
  background-color: green;
}
section.qcm span.reponse[data-points="9"]:after {
  background-color: green;
}
