/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* This file is for your main application CSS */
@import "by_class";

body {
  margin: 0!important;
  min-width: 900px!important;
  width: 900px;
  max-width: 900px;
  font-size: 18pt;
}
header {
  background-color: purple;
  padding: 0.5em 2em; 
  color: white;
  width:100%
}
nav#main {
  background-color: rgb(105, 76, 121);
  text-align: right;
  padding: 0px 2em 0 2em;
  width: 100%;
  height:25px;
}
nav#main a, span.menu {
  font-family:arial, helvetica, geneva;
  font-variant: all-small-caps;
  font-size: 14pt;
}
nav#main a {
  margin-left: 1em;
  vertical-align:super;
  color: white;
}

section#exo-boutons {
  padding:1px 1em;
  opacity: 0.5;
}
section#exo-boutons:hover {
  opacity: 1;
}
section#exo-boutons form {
  display:inline; 
  margin: none !important; 
  padding:none !important;
  /* background-color:blue; */
}
section#exo-boutons span {
  font-size: 13pt;
  font-family: Arial Narrow, Helvetica, Geneva;
  margin: none;
  /* background-color:red; */
}
section#exo-boutons span:after {content: " :"}
section#exo-boutons button {
  display: inline-block;
  font-size: 9.5pt;
  padding: 4px 8px;
  margin: 0!important;
}

section#content {
  margin:2em 4em;
}

fieldset {
  all: reset;
}

input[type="text"], input[type="password"], textarea, select, select option {
  font-family: "AvenirNC" !important;
  font-size: inherit;
  padding: 4px;
  margin: 4px;
}
input[type="text"]:not(.medium):not(.short) {
  width: 100%;
}

span.fixed-size {
  font-size: 20pt !important;
}


div.description, div.explication {
  font-size: 0.8em;
  font-style: italic;
}

div.buttons {
  text-align: right;
}
button, a.btn {
  font-size: 0.8em;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: black;
  color: #EEEEEE ;
  padding: 12px 32px;
  border:0;
  margin:1em;
  cursor:pointer;
}
a.btn { display:inline-block;padding-bottom: 12px;}
button:hover, a.btn:hover {
  background-color: purple;
}


div#flash-group {
  position:absolute;
  right:1em; top:0;
  max-width:640px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1em;
}
div#flash-group > div {
  padding: 0.2em 2em;
}
div#flash-group div#flash-error {
  background-color: red;
  color: white;
}
div#flash-group button[aria-label] {
  display:none;
}
div#flash-group div#flash-info {
  background-color: rgb(101, 249, 187);
  color: rgb(24, 120, 0);
}

a, input[type="submit"], input[type="button"] {
  display:inline;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color:orange;
  border:none;
  background-color:inherit;
  cursor: pointer;
}
header a {
  color:inherit;
}

form.inline {
  display:inline;
  padding:0;
  margin:0;
  margin-left:-7px;
}

pre code {
  font-size: 11.5pt;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  width: 100%;
  text-align: left;
  margin:0 0 0 0;
}
h1 {
  font-size:34pt;
  margin-bottom: 1em;
}
h2 {
  font-size: 28pt;
  margin-top: 2em;
  margin-bottom: 1.5em;
  line-height: 1em;
}
h3 {
  font-size:24pt;
  margin-top:1.5em;
  margin-bottom:1em;
}
h4 {
  font-size:20pt;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

blockquote {
  font-style: italic;
}

code {font-size:0.8em;}

button.neutre {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  color: orange;
  cursor: pointer;
}

div#panneau_aide_formatage {
  display:inline-block;
  height: 40px;
  overflow:hidden;
  position:relative;
  font-size: 14pt;
  float: left;
}
div#panneau_aide_formatage:hover {
  overflow:visible;
}
div#panneau_aide_formatage span.main-titre {
  font-family: Helvetica;
  font-size: 14pt;
}
div#panneau_aide_formatage div.content {
  position: absolute;
  width: calc(3 * 320px);
  text-align: left;
  bottom: 40px;
  left: 0;
  display: none;
  background-color: #FAFAFA;
  border: 1px solid;
  padding: 1.5em 1em; 
  columns: 300px auto;
}
div#panneau_aide_formatage:hover div.content {
  display: block;
  height: auto;
}
div#panneau_aide_formatage:hover div.content h3,
div#panneau_aide_formatage:hover div.content h4 {
  margin: 0;
  margin-top:0.5em;
  padding: 0;
}
div#panneau_aide_formatage:hover div.content p {
  margin:0; padding:0;
}
div#panneau_aide_formatage:hover div.content code {
  font-weight:bold;
}