nav {display:block}

.block {display:block}
.inline {display:inline}
.hidden {display:none;}

.italic {font-style: italic;}

.smaller {
  font-size:0.9em;
}

.right {text-align: right}
.left {text-align: left} /* dans un contexte right */

.fright {float:right}
.fleft {float:left}

form.disabled, form.disabled button {cursor: not-allowed!important}
form.disabled {opacity: 0.3}
form.disabled:hover {opacity:0.3}
form.disabled:hover button {background-color:black}