body {
  margin: 1.8cm 2.5cm 1cm;
  width: 17cm;
  height: 16.7cm;			
  zoom: 120%;	
  font-size:13pt;
  counter-reset: pageNumber;
  counter-reset: compteurPas;
}

@page {
  size:	a4 portrait;
  counter-incremente: pageNumber;
  /* margin box at top right showing page number */
  @bottom-right {
    content: "Page " counter(pageNumber);
  }
}

div.titre {
  display:block;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 22pt;
  /* font-weight: bold; */
  font-variant: small-caps;
  text-align:center;
  margin-top: 2.5cm;
  margin-bottom: 2cm;
}

section#exercice {
  margin-top:1cm;
}

div.rubrique, div.rubriquei {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: bold;
}
div.rubrique {
  display:block;
  margin-top: 1cm;
  margin-bottom: 0.5cm;
}
div.rubriquei {
  display:inline-block;
}

div.info, div.infos {
  border: 1px solid;
  padding: 0.5em;
  font-size: 0.85em;
}

img#logo {
  position:fixed;
  top: 1cm;
  left: 1cm;
  width: 2.5cm;
}

blockcode {
  display: block;
  counter-reset: monCompteur;
  font-family: 'Courier New', Courier, monospace;
  font-size: 11pt;
  background-color: #EEEEEE;
  margin-left: 0.5em;
  padding: 0.5em;
}
blockcode line, blockcode linem {
  display: block;
  counter-increment: monCompteur;
  margin-left: 1cm;
  position: relative;
}
blockcode line:before, blockcode linem:before {
  content:counter(monCompteur); 
  position: absolute;
  left: -1cm;
  font-size: 7.5pt;
  top: 2px;
}

blockcode linem:before {
  content: counter(monCompteur) " +";
  color: red;
  font-weight: bold;
}

.bold {font-weight:bold}


table.table_specs {
  padding:0;
  margin:0;
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
}
table.table_specs tr {
  padding:0; margin:0;
}
table.table_specs tr td {
  vertical-align: top;
}
table.table_specs tr td {
  padding:4px 12px;
  border: 1px solid black;
}
table.table_specs tr td:nth-child(1) {
  background-color: #EEEEEE;
  width:130px;
}
table.table_specs tr td:nth-child(2) {
  background-color: transparent;
  width:400px;
}

div.reference {
  font-weight: bold;
  text-align: right;
}
div.reference:before {
  content: "Réf. : ";
  color: #333333;
  margin-left: 1em;
}

div.scenario {
  counter-reset: compteurPas;
}

div.pas.counter_reset {
  counter-reset: compteurPas;
}

/* Pas d'un scénario */
div.pas {
  counter-increment: compteurPas;

}
div.pas:before {
  content: counter(compteurPas) ". ";
  /* margin-right: 0.5em; */
  display:inline-block;
  width:28px;
}
div.resultat:before {
  content: "=> ";
}
div.pas.rouge {
  color:red;
}

/* Les lignes de code */

div.code.counter_reset {
  counter-reset: codeCounter;
}
div.code {
  counter-increment: codeCounter;
  font-family: Courier, Monospace;
  font-size: 11pt;
  background-color: #DDDDDD;
  padding:0;
  padding-right:8px;
}
div.empty + div.code {padding-top:8px;}

div.code + div.empty:before {
  display:block;
  background-color: #DDDDDD;
  height:8px;
  content: " ";
}

div.code:before {
  content: counter(codeCounter);
  display:inline-block;
  background-color:#EEEEEE;
  width: 26px;
  margin-right:16px;
  font-family: Courier, Monospace;
  font-size: 7.5pt;
  line-height:11pt;
  color: #555555;
}
div.code.added:before {
  content: counter(codeCounter) " +";
  color:red;
  font-weight:bold;
}