<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="z_clip_exo.css" />
    <%= if @document_formateur do %>
      <link rel="stylesheet" href="z_clip_exo_formateur.css" />
    <% end %>
    <%= for path <- @exo.infos.css_files || [] do %>
      <link rel="stylesheet" href={"z_" <> Path.basename(path)} />
    <% end %>

    <style type="text/css">
      /* Pour l'impression du pied de page */
      @page {
        @bottom-right {
          content: "<%= @exo.infos.titre %> - " counter(compteurPage) "/<%= @exo.infos.nombre_pages %>";
        }
      }
    </style>
  </head>
  <body>
    <header>
      <div class="titre"><%= raw @exo_titre %></div>
      <div class="reference"><%= @exo.infos.reference %></div>
		</header>

    <%= if @document_formateur do %>
    <div style="text-align:center;border:1px solid;padding:2em;">- VERSION FORMATEUR -</div>
    <% end %>

    <section id="exercice">
      <%= raw @inner_formated %>
    </section>
    
  </body>
</html>
